.dirRow {
  display: flex;
  justify-content: space-between;

  .name {
  }

  .calcs {
    .calc {
      border: solid black 1px;
      padding: 0.2em;
      margin-left: 1em;

      outline: none;

      font-size: 0.8em;

      &.missing {
        background: rgba(211, 211, 211, 0.3);

        &:hover {
          background: rgba(211, 211, 211, 0.5);
        }

        &:active {
          background: rgba(211, 211, 211, 0.7);
        }
      }

      &.done {
        background: rgba(0, 100, 0, 0.3);

        &:hover {
          background: rgba(0, 100, 0, 0.5);
        }

        &:active {
          background: rgba(0, 100, 0, 0.7);
        }
      }

      &.inProcess {
        background: rgba(255, 166, 0, 0.3);

        &:hover {
          background: rgba(255, 166, 0, 0.5);
        }

        &:active {
          background: rgba(255, 166, 0, 0.7);
        }
      }
    }
  }
}
